<div id="route-section" class="">
  <div class="alert-wrapper gp-force-block-formatting-context">
    <ui-breadcrumb [breadcrumbs]="breadcrumbs" [classContainer]="'limit-container-width'" (onClick)="onBreadcrumb($event)"></ui-breadcrumb>
  </div>
  <div class="top-area container-fluid container-limited limit-container-width px-0">
    <h3 class="page-title" *ngIf="_isEdit && !_isNew">{{ 'APP.TITLE.EditService' | translate }}</h3>
    <h3 class="page-title" *ngIf="_isEdit && _isNew">{{ 'APP.TITLE.NewService' | translate }}</h3>
    <div class="d-flex flex-grow-1">&nbsp;</div>
    <ng-template [appHasPermission]="'SERVICES'" [action]="'edit'">
      <div class="nav-controls">
        <div class="position-relative" *ngIf="!_isEdit && !_spin">
          <button aria-expanded="false" type="button" class="btn btn-default btn-md gl-button btn-icon" [tooltip]="'APP.TOOLTIP.EditService' | translate" (click)="_editService()">
            <i class="bi bi-pencil"></i>
          </button>
        </div>
        <!-- <ng-template [appHasPermission]="'SETTINGS'" [action]="'delete'"> -->
          <div role="group" class="btn-group- ms-1" *ngIf="!_isEdit && !_spin">
            <div class="dropdown b-dropdown gl-new-dropdown btn-group" id="actions">
              <button aria-haspopup="true" aria-expanded="false" type="button" class="btn dropdown-toggle btn-default btn-md gl-button gl-dropdown-toggle btn-default-tertiary dropdown-icon-only dropdown-toggle-no-caret" data-bs-toggle="dropdown" data-bs-display="static" id="other_actions">
                <i class="bi bi-three-dots-vertical"></i>
              </button>
              <ul role="menu" tabindex="-1" class="dropdown-menu dropdown-menu-end" aria-labelledby="sort_toggle">
                <div class="gl-new-dropdown-inner">
                  <div class="gl-new-dropdown-contents">
                    <li role="presentation" class="gl-new-dropdown-item">
                      <button role="menuitem" type="button" class="dropdown-item" (click)="_deleteService()">
                        <div class="gl-icon s16 gl-new-dropdown-item-check-icon gl-mt-3 gl-align-self-start">
                          <i class="bi bi-trash text-danger"></i>
                        </div>
                        <div class="gl-new-dropdown-item-text-wrapper">
                          <p class="gl-new-dropdown-item-text-primary">{{ 'APP.MENU.DeleteService' | translate }}</p>
                        </div>
                      </button>
                    </li>
                  </div>
                </div>
              </ul>
            </div>
          </div>
        <!-- </ng-template> -->
        <div role="group" class="gl-w-full btn-group- position-relative" *ngIf="_isEdit && !_spin">
          <button aria-haspopup="true" aria-expanded="false" type="button" class="btn btn-default btn-md gl-button btn-default-tertiary ms-2" [tooltip]="(_isNew ? 'APP.TOOLTIP.CancelNew' : 'APP.TOOLTIP.CancelEdit') | translate" (click)="_onCancelEdit()">
            <i class="bi bi-x-lg"></i>
          </button>
        </div>
      </div>
    </ng-template>
  </div>
  <section class="container-fluid container-limited limit-container-width container-scroller container-scroller-no-search">
    <ui-box-spinner [color]="'accent'" [diameter]="48" [strokeWidth]="4" *ngIf="_spin && !_isNew"></ui-box-spinner>
    <ui-box-message *ngIf="!service && !_spin && !_isNew"
      [image]="'./assets/images/illustrations/no-data.svg'"
      [message]="'APP.MESSAGE.NoData' | translate"
      [subMessage]="'APP.MESSAGE.NoDataHelp' | translate">
    </ui-box-message>

    <div class="settings" *ngIf="(service && !_spin) || _isNew">
      <div class="settings-header d-none">
        <h4 class="settings-title">{{ 'APP.SERVICES.TITLE.GeneralInformations' | translate }}</h4>
        <ng-template [appHasPermission]="'SETTINGS'" [action]="'edit'">
          <button aria-expanded="false" type="button" class="btn btn-default btn-md gl-button btn-icon" [tooltip]="'APP.TOOLTIP.EditService' | translate" (click)="_editService()" *ngIf="!_isEdit && !_spin">
            <i class="bi bi-pencil"></i>
          </button>
          <div role="group" class="gl-w-full btn-group-" *ngIf="_isEdit && !_spin">
            <button aria-haspopup="true" aria-expanded="false" type="button" class="btn btn-default btn-md gl-button btn-default-tertiary ms-2 btn-icon" [tooltip]="(_isNew ? 'APP.TOOLTIP.CancelNew' : 'APP.TOOLTIP.CancelEdit') | translate" (click)="_onCancelEdit()">
              <i class="bi bi-x-lg"></i>
            </button>
          </div>
        </ng-template>
        <p markdown>{{ 'APP.SERVICES.TITLE.GeneralInformations_sub' | translate }}</p>
      </div>
      <div class="settings-content">
        <div class="gl-alert gl-alert-danger col-md-12 mb-5" *ngIf="!_isEdit && _error">
          {{ _errorMsg }}
        </div>
        <div class="edit-form">
          <form novalidate class="issue-form common-note-form mt-3 gl-show-field-errors gfm-form" [class.form-readonly]="!_isEdit" [formGroup]="_formGroup" (submit)="_onSubmit(_formGroup.value)">
            <div class="row gl-mt-3">
              <div class="col-lg-4 mb-4">
                <h4 class="gl-mt-0 text-break">{{ 'APP.SERVICES.TITLE.GeneralInformations' | translate }}</h4>
                <div class="text-break" markdown>{{ 'APP.SERVICES.TITLE.GeneralInformations_sub' | translate }}</div>
              </div>
              <div class="col-lg-8">
              <!-- <div class="row">
                <div class="col-lg-6"> -->
                <div class="form-group">
                  <label class="label-bold" for="service_name">{{ 'APP.LABEL.ServiceName' | translate }}</label>
                  <div class="" *ngIf="_isEdit">
                    <input aria-required="true" autofocus="autofocus" autocomplete="off" class="form-control" [class.gl-field-error-outline]="_hasControlError('service_name')" type="text" name="service_nameg" id="service_name" formControlName="service_name">
                    <p *ngIf="f['service_name'].invalid && (f['service_name'].dirty || f['service_name'].touched)" class="form-text text-danger">
                      <span *ngIf="f['service_name'].errors && f['service_name'].errors['required']" class="d-block">{{ 'APP.MESSAGE.VALIDATION.FieldRequired' | translate }}</span>
                    </p>
                    <ui-input-help field="service_name" context="SERVICE"></ui-input-help>
                  </div>
                  <div class="" *ngIf="!_isEdit">
                    <input type="text" readonly class="form-control-plaintext" id="service_name" [value]="service.service_name">
                  </div>
                </div>
              <!-- </div>
              <div class="col-lg-6"> -->
                <div class="form-group">
                  <label class="label-bold" for="description">{{ 'APP.LABEL.Description' | translate }}</label>
                  <div class="" *ngIf="_isEdit">
                    <input aria-required="true" autofocus="autofocus" autocomplete="off" class="form-control" [class.gl-field-error-outline]="_hasControlError('description')" type="text" name="description" id="description" formControlName="description">
                    <p *ngIf="f['description'].invalid && (f['description'].dirty || f['description'].touched)" class="form-text text-danger">
                      <span *ngIf="f['description'].errors && f['description'].errors['required']" class="d-block">{{ 'APP.MESSAGE.VALIDATION.FieldRequired' | translate }}</span>
                      <span *ngIf="f['description'].errors && f['description'].errors['pattern']" class="d-block">{{ 'APP.MESSAGE.VALIDATION.Servicedescription' | translate }}</span>
                    </p>
                    <ui-input-help field="description" context="SERVICE"></ui-input-help>
                  </div>
                  <div class="" *ngIf="!_isEdit">
                    <input type="text" readonly class="form-control-plaintext" id="description" [value]="service.description">
                  </div>
                </div>
              </div>
            </div>

            <div class="gl-alert gl-alert-danger col-md-12 mt-3" *ngIf="_isEdit && _error">
              {{ _errorMsg }}
            </div>

            <div class="row-content-block footer-block" *ngIf="_isEdit">
              <button aria-label="Save" type="submit" class="gl-button btn btn-confirm gl-mr-2" [disabled]="_formGroup.invalid">
                {{ 'APP.BUTTON.Save' | translate }}
              </button>
              <button aria-label="Cancel" type="button" class="btn gl-button btn-default" (click)="_onCancelEdit()">
                {{ 'APP.BUTTON.Cancel' | translate }}
              </button>
            </div>
          </form>

          <div class="row gl-mt-5 border-top pt-5" *ngIf="!_isNew && !_refreshLogo">
            <div class="col-lg-4 mb-4">
              <h4 class="gl-mt-0 text-break"><span>{{ 'APP.SERVICES.TITLE.LogosInformations' | translate }}</span></h4>
              <div class="text-break" markdown>{{ 'APP.SERVICES.TITLE.LogosInformations_sub' | translate }}</div>
            </div>
            <div class="col-lg-8">
              <ng-template [appHasPermission]="'SERVICES'" [action]="'edit'">
                <div class="position-absolute top-0" style="z-index: 999;right: 15px !important;">
                  <button class="btn btn-default btn-md gl-button btn-icon ms-3" (click)="_onEditLogos()" [tooltip]="(_isEditLogos ? 'APP.TOOLTIP.CancelEdit':'APP.TOOLTIP.ModifyLogos') | translate" *ngIf="!_isEditLogos">
                    <span><i class="bi bi-pencil"></i></span>
                  </button>  
                  <button class="btn btn-default btn-md gl-button btn-icon ms-3" (click)="_onCancelEditLogos()" [tooltip]="(_isEditLogos ? 'APP.TOOLTIP.CancelEdit':'APP.TOOLTIP.ModifyLogos') | translate" *ngIf="_isEditLogos">
                    <span><i class="bi bi-x-lg"></i></span>
                  </button>  
                </div>
              </ng-template>
              <div class="row">
                <div class="col-6">
                  <div class="form-group logo">
                    <label class="label-bold" for="logo">{{ 'APP.LABEL.Logo' | translate }} <span appMarkAsterisk [formGroup]="_formGroup" [controlName]="'logo'" *ngIf="_isEditLogos"></span></label>
                    <div class="">
                      <app-photo-base64
                        [boxWidth]="'175px'"
                        [boxHeight]="'auto'"
                        [maxSize]="20971520"
                        [placeHolder]="_imagePlaceHolder"
                        [imageSaved]="service | mapper:_getLogoMapper:'logo'"
                        [isImageSaved]="service | mapper:_hasLogoMapper:'logo'"
                        [removeLabel]="'APP.BUTTON.Remove' | translate"
                        [asDataUrl]="false"
                        [isEdit]="_isEditLogos"
                        (imageLoaded)="_onImageLoaded($event, 'logo')">
                      </app-photo-base64>
                    </div>
                    <div class="mt-2" *ngIf="!_isEditLogos && false">
                      <img class="img-space" style="width: 175px;height: auto;" [src]="service | mapper:_getLogoMapper:'logo'" />
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group logo_miniature">
                    <label class="label-bold" for="logo_miniature">{{ 'APP.LABEL.LogoMiniature' | translate }} <span appMarkAsterisk [formGroup]="_formGroup" [controlName]="'logo_miniature'" *ngIf="_isEditLogos"></span></label>
                    <div class="">
                      <app-photo-base64
                        [boxWidth]="'90px'"
                        [boxHeight]="'auto'"
                        [maxSize]="20971520"
                        [placeHolder]="_imagePlaceHolder"
                        [imageSaved]="service | mapper:_getLogoMapper:'logo-miniature'"
                        [isImageSaved]="service | mapper:_hasLogoMapper:'logo-miniature'"
                        [removeLabel]="'APP.BUTTON.Remove' | translate"
                        [asDataUrl]="false"
                        [isEdit]="_isEditLogos"
                        (imageLoaded)="_onImageLoaded($event, 'logo-miniature')">
                      </app-photo-base64>
                    </div>
                    <div class="mt-2" *ngIf="!_isEditLogos && false">
                      <img class="img-space" style="width: 90px;height: auto;" [src]="service | mapper:_getLogoMapper:'logo-miniature'" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row-content-block form-footer-image footer-block" *ngIf="_isEditLogos">
            <button aria-label="Save" type="submit" class="gl-button btn btn-confirm gl-mr-2" (click)="_saveLogos()" [disabled]="!_modifiedLogo && !_modifiedLogoSmall">
              {{ 'APP.BUTTON.Save' | translate }}
            </button>
            <button aria-label="Cancel" type="button" class="btn gl-button btn-default" (click)="_onCancelEditLogos()">
              {{ 'APP.BUTTON.Cancel' | translate }}
            </button>
          </div>
          </div>
      </div>
    </div>
  </section>
</div>
