// Footer landing

footer {
  background-color: #1d1d1f;
  // background-color: #1b3564;

  .logo {
    p {
      font-size: 2rem;
      color: #fff;
      overflow: unset;
      font-weight: 600;
    }

    img {
      width: 90px;
      height: auto;
    }
  }

  p {
    font-size: 1rem;
    color: #fff;
    margin-bottom: 1rem;

    &.title {
      color: rgba(255, 255, 255, 0.80);
      text-transform: uppercase;
      margin-bottom: 1.5rem;
    }
  }

  a {
    color: #9DE2F7 !important;
    // font-weight: 600;
    &:hover {
      // font-weight: 600;
      color: #fff !important;
    }

    &:not(.logo) {
      &:hover {
        color: #fff !important;
      }
    }
  }

  .social-network i {
    color: #fff;
    margin: 0;
  }

  .social-network i:before {
    font-size: 2rem;
  }

  .social-network .fa-facebook-f::before {
    content: "\f39e";
  }

  .social-network a:hover i {
    color: #2962FF;
  }

  .social-network a:only-child {
    margin: 0;
  }
}
